[pretty]
    theone=format:%C(yellow)%h %Cblue%an <%ae> %C(white)(%G?) %Cgreen%cr%Cred%d%n%s%n%b%n

[alias]
    br = branch
    bra = branch -a
    ci = commit
    cim = commit -m
    co = checkout
    cob = checkout -b
    cp = cherry-pick
    del = branch -d
    down = pull --rebase --prune
    last = log -1 HEAD
    l = log --graph --format=theone --decorate
    lp = log --graph --format=theone --decorate -p
    ll = log --graph --format=theone --decorate --numstat
    st = status
    up = push --set-upstream origin

[core]
    editor = emacs

[push]
    default = simple

[user]
    email = douglassdarin@gmail.com
    name = Darin Douglass

[commit]
    template = ~/.gitmessage